body {
	user-select: none;
	--moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.button {
	width: 80px;
}

input[type="button"] {
	border-radius: 25px 25px 25px 25px;
	background-color: #FFF;
}
.recButton[recording="1"] {
	background-color: #F55;
}
